{% for contact in list %}
    {% if contact.showInContactList %}
    <div itemscope itemtype="http://schema.org/Organization">
        {% set name = contact.name|t %}
        {% if name %}<span itemprop="name">{{ name }}</span>{% endif %}
        {{ include(tpl_contact,{'contact':contact}) }}
    </div>
    {% endif %}
{% endfor %}
